.hero {
  background: color(primary);

  @include response(sm) {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/images/codebg.jpg);
  }

  @include response(xxl) {
    position: relative;
  }

  &-content {
    @include sectionSpacing();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: 70vh;
    grid-gap: 4rem;
    text-align: center;
    color: color(white);

    @include response(xxl) {
      grid-template-columns: 1fr;
      height: 100vh;
    }

    @include response(sm) {
      height: 70vh;
    }
  }

  &-info {
    @include response(xxl) {
      position: absolute;
      top: 10rem;
    }

    @include response(sm) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h4 {
      @include headingStyles();
      font-size: size(xs);
    }

    h2 {
      @include headingStyles();
      font-size: size(xl) + 2rem;
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 90%;
      margin: 2rem auto;
    }
  }

  &-img {
    width: 100%;
    max-width: 85rem;
    min-width: 80rem;

    @include response(xxl) {
      max-width: 65rem;
      min-width: 60rem;
      position: absolute;
      top: 45rem;
      margin-left: 23%;
    }

    @include response(xl) {
      margin-left: 13%;
    }

    @include response(lg) {
      max-width: 50rem;
      min-width: 45rem;
      margin-top: 5rem;
      margin-right: 10rem;
    }

    @include response(sm) {
      display: none;
    }
  }

  .btn {
    color: color(white);
    border: 0.1rem solid color(white);
  }
}
