.section-seven-content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;

  @include response(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include response(sm) {
    grid-template-columns: 1fr;
    padding: 2rem 2rem;
  }

  img {
    @include response(sm) {
      display: none;
    }
  }
}

h2 {
  @include headingStyles();
  font-size: size(xl) + 2rem;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem color(black);

  @include response(lg) {
    font-size: size(xl);
    padding: 0 2rem 0 0;
  }
}

.btn {
  margin-right: 2rem;

  @include response(md) {
    // display: block;
    margin-top: 2rem;
  }
}
