.section-one {
  margin-top: 25rem;

  &-content {
    @include sectionSpacing();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    align-items: center;
    text-align: center;
  }

  &-info {
    h3 {
      @include headingStyles();
      font-size: size(xl);
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 70%;
      margin: 2rem auto;
    }
  }

  &-img {
    width: 100%;
  }
}
