.section-five {
  @include sectionSpacing();
  background-color: color(primary);

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 50vh;
    max-width: 1300px;
    margin: auto;

    @include response(lg) {
      grid-template-columns: 1fr;
      height: 100vh;
    }
  }

  &-info {
    text-align: center;

    h2 {
      @include headingStyles();
      font-size: size(xl);
      margin-bottom: 4rem;
    }

    h3 {
      @include headingStyles();
      font-size: size(xl) + 2rem;
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 70%;
      margin: 2rem auto;
    }
  }

  &-img {
    text-align: center;

    img {
      width: 30rem;
      box-shadow: 0.4rem 0.4rem 0.1rem color(black);

      @include response(md) {
        width: 25rem;
      }

      @include response(sm) {
        width: 20rem;
      }

      // @include response(xs) {
      //   width: 12rem;
      // }
    }

    p {
      @include textStyles();
      font-size: size(xs);
    }

    a {
      color: color(black);
      font-size: size(xs);
      border-bottom: 0.3rem solid color(black);
    }
  }
}
